<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imnu.mapper.OrdersMapper">

    <insert id="add">
        insert into orders(number, products_id, num, address, contact, phone, state, create_time, update_time, end_time) VALUES(#{number},#{productsId},#{num},#{address},#{contact},#{phone},#{state},#{createTime},#{updateTime},#{endTime})
    </insert>

    <update id="update">
        update orders
        set products_id = #{productsId},
            num = #{num},
            address = #{address},
            contact = #{contact},
            phone = #{phone},
            state = #{state},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>

    <delete id="delete">
        delete from orders where id = #{orderId} and state = 4
    </delete>

    <select id="get" resultType="com.imnu.bean.po.Orders">
        select * from orders where id = #{orderId}
    </select>

    <select id="getPage" resultType="com.imnu.bean.po.Orders">
        SELECT * FROM orders
    </select>
</mapper>
