<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imnu.mapper.ProductsMapper">

    <insert id="add">
        insert into products(category_id, name, img, state, create_time, update_time) values (#{categoryId},#{name},#{img},0,#{createTime},#{updateTime})
    </insert>

    <update id="update">
        update products set category_id = #{categoryId}, name=#{name}, img=#{img}, state=#{state}, update_time=#{updateTime} where id = #{id}
    </update>


    <delete id="delete">
        delete from products where id = #{productId}
    </delete>

    <select id="get" resultType="com.imnu.bean.po.Products">
        select * from products where id = #{productId}
    </select>

    <select id="getPage" resultType="com.imnu.bean.po.Products">
        select * from products
    </select>
    <select id="getPageVo" resultType="com.imnu.bean.vo.ProductsVo">
        SELECT products.*,
               category.`name` as categoryName
        FROM products
                 INNER JOIN
             category
             ON
                 products.category_id = category.id
    </select>

    <select id="findbyCategory" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM products WHERE category_id=#{id};
    </select>

    <select id="getPageFind" resultType="com.imnu.bean.po.Products">
        select * from products
        <where>
            <if test="productsName != null and productsName != ''">
                name like concat('%',#{productsName},'%')
            </if>
        </where>
    </select>
    <select id="getAll" resultType="com.imnu.bean.po.Products">
        select * from products
    </select>

</mapper>
