<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imnu.mapper.StockMapper">

    <select id="getPage" resultType="com.imnu.bean.vo.StockVo">
        SELECT products.`name`,
               stock.sum
        FROM stock
                 INNER JOIN
             products
             ON
                 stock.products_id = products.id
    </select>

    <select id="query" resultType="com.imnu.bean.vo.StockVo">
        SELECT products.`name`,
               stock.sum
        FROM products
                 INNER JOIN
             stock
             ON
                 products.id = stock.products_id
        WHERE products.`name` LIKE #{sockName}

    </select>

</mapper>
